astropy
asyncio
bokeh
click
coverage
cryptography
cvxpy
daiquiri
dataset
datashader
django
duckdb
flake8
gatspy
google-cloud-aiplatform
google-cloud-bigquery
google-generativeai
gspread
holoviews
ibis-framework
ipympl
ipython
jinja2
matplotlib
numpy
pandas
pandas-gbq
pandashells
pandera
psycopg2-binary
pytest
pytest-cov
pytest-sugar
python-dateutil
requests
scikit-learn
scipy
simple-salesforce
sphinx
sphinx-rtd-theme
sqlparse
statsmodels 
tqdm
